@charset "UTF-8";

*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

@font-face {
    font-family:'Fonte';
    src: url(fontes/idroid.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'MyBebasneue';
    src: url(fontes/bebasneue-regular.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:23px#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte0: Arial, Helvetica, sams-serif;
    --fonte1:'Bebas Neue', cursive;
    --fonte2:'Android', sans-serif;
}

body {
    font-family: var(--fonte0);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, #3ddc84, #2fa866, #063d1e);
    color: white;
    text-align: center;
    padding: 0% 0% 0% 0%;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    font-family: MyBebasneue;
}

nav {
    color: white;
    padding: 0px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    text-align: left;
    font-size: small;
    transition-duration: .5s;

}

nav > a:hover {
    background-color: var(--cor4
    );
    color: var(--cor5);
}

#link {
    text-align: left;
    padding: 12px 5px 5px 5px
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 1%;
    text-indent: 30px;
    text-align: justify;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

h1 {
    font-family: Fonte, 'Times New Roman', Times, serif;
    text-align: left;
    color: #063d1e;
}

#principal {
    font-family: MyBebasneue, 'Arial, Helvetica', sans-serif;
    color: white;
    text-shadow: 1px 1px 2px #063d1e;
    padding: 5px 10px 20px 10px;
    text-align: center;
}

h2 {
    font-family: Fonte, 'Times New Roman', Times, serif;
    background-image:linear-gradient(to right, #c5ebd6, white );
    color: #063d1e;
}

div.video {
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#versao {
    background-color: var(--cor0);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 15px #063d1e65;
    margin-bottom: 2%;

}

#versao > h3 {
    background-color: #2fa866;
    border-radius: 10px 10px 0px 0px;
    color: white;
}

ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer {
    background-color: #063d1e;
    color: white;
    text-align: center;
    padding: 6px;
    margin: 0%;
    font-style: italic;
    font-size:small;
}

img {
    display: block;
    margin: 0px auto;

}

.destaque {
    color: #063d1e;
    text-decoration: none;
}
